# git
alias gs='git status'
alias gp='git pull'
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gcl='git clone'
alias gd='git diff'
alias go='git checkout'
alias gk='gitk --all&'
alias gx='gitx --all'
alias gs='git status'
alias gl='git log'
alias gf='git fetch --all'
alias gr='git remote -v'
alias gt='git tag -l'
alias got='git'
alias get='git'
alias fit='git'
